:root {
  --caseHeight: 100;
  --caseWidth: 100;
  --segmentWidth: 20;
  --segmentSeparation: 30;
  --segmentColor: "white";
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #393d42;
  width: 100vw;
}

.mainContainer {
  /* border: 2px solid white; */

  padding: 10px;

  width: 1725px;
  height: 600px;

  display: grid;
  grid-template-columns: 550px 775px auto;
  grid-template-rows: 100%;
  column-gap: 25px;
}

.divShow {
  position: relative;
}

.canvas {
  background-color: transparent;
  border: 1px solid yellow;
}

.structureCarte {
  position: absolute;
  top: 0;
  left: 0;

  /* background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url('"../assets/fond2.jpg"'); */

  background-image: url("../assets/fond2.jpg");
  background-blend-mode: darken;
  background-repeat: no-repeat;

  display: grid;
  grid-template-columns: repeat(5, 100px);
  grid-template-rows: 100px 100px;

  width: 500px;
  height: 610px;

  border-radius: 20px;
}

.imageCarte {
  position: absolute;
  top: 410px;
  left: 10px;

  width: 200px;
}

#image {
  width: 100px;
}

.points{
  position: absolute;
  top: 0px;
  left: 20px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 100px;
  font-weight: bold;
  color: black;
  width: fit-content;
  height: fit-content;
}

.cardContainer {
  display: grid;
  grid-template-columns: repeat(4, 140px);
  column-gap: 10px;
  row-gap: 20px;

  border: 5px solid goldenrod;
  width: 580px;
  padding: 10px;
  height: fit-content;

  background-image: url("../assets/uwin.jpg");
  background-position: center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 1);
  background-blend-mode: overlay;
}

.UWin{
  background-color: rgba(0, 0, 0, 0);
  height: 300px;
}

.card {
  /* width: 150px; */
  height: 200px;

  /* -webkit-filter: sepia(100%);
  filter: sepia(100%);
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out; */

  background-position: center;
  background-size: cover;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}

.card:hover {
  /* -webkit-filter: sepia(0);
  filter: sepia(0); */
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.pioche {
  position: relative;
  padding: 20px;
  width: 450px;
}

#pioche
 {
  position: absolute;
  width: 400px;
  top: 140px;

  border-radius: 20px;

  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}

#pioche:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.hidden{
  display: none;
}

.timerContainer{
  position: absolute;
  top: 5px;
  left: 340px;

  width: 150px;
  height: 100px;
  padding-left: 40px;
  padding-top: 20px;

  /* border: 1px solid red; */

  font-family: 'Times New Roman', Times, serif;
  font-size: 60px;
  font-weight: bold;
  text-align: center;

  background-image: url("../assets/time.png");
  background-position: center left ;
  background-size: 45%;
  background-repeat: no-repeat;
}

.timeOut{
  color: tomato;
}
